<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mom App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css">
	</head>
	<body>
		<div class="container">
			{{{ body }}}
		</div>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="js/main.js" charset="utf-8"></script>
	</body>
</html>
