<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Mom App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
				integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
				crossorigin="anonymous">
		<link rel="stylesheet" href="/css/styles.css">
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
			{{{ body }}}
		</div>
		<script src="/js/main.js" charset="utf-8"></script>
		<script src="/js/postDetailPage.js" charset="utf-8"></script>
	</body>
</html>
