<div class="jumbotron jumbotron-fluid parallax" id="land_page">
  <div class="toplogo">
      <a href="index.html">
          <img src="img/logo.png" alt="logo">
      </a>
    <h3 class="welcome_header"><div id="welcome_text">Welcome to ToyShare</div></h3><br>
  </div>
  <div class="container">
  <p class="explain">
    A place for parents to borrow & share items with other parents</p>
  </div>
  <!-- Button to posts/new -->
  <div class="post_rbutton">
  <a href="/posts/new"><button>Post an Item</button></a>
  </div>
  <div class="see_posts_rbutton">
  <a href="/posts"><button>All Available Items</button></a>
  </div>
</div>
<div>
  <footer><a class="footer_text" href="https://github.com/ucb-project-2/ToyShare">&copy ToyShare group</a></footer>
