
<div class="jumbotron jumbotron-fluid parallax" id="header">
  <div class="container">
    <h3 class="main_banner">Welcome to MomApp</h3><br>
</div>
</div>
<!--Example post (should be put into a partial later)  -->
<div class="container">
<ul>
  {{#each post}}
  	<li>
  	   <p>ID: {{this.id}}</p>
       <p>Description: {{this.description}}</p>
  	</li>
  {{/each}}
</ul>
</div>
