<h1 id="header">Test Uploader</h1>

<h3> Will this work? Who knows.... </h3>

<br><br>
<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-cloud-upload"></span>
          <h2>File Uploader</h2>
          <div class="progress">
            <div class="progress-bar" role="progressbar"></div>
          </div>
          <button class="btn btn-lg upload-btn" type="button">Upload File</button>
        </div>
      </div>
    </div>
  </div>
</div>
<form id="post-form" name="post" class="post" action="" method="">
  <input id="title" type="text" name="title" value="">
  <input id="description" type="text" name="description" value="">
  <input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>
  <button id="submit-form" type="submit" name="post">Submit</button>
</form>

<script src="js/upload.js"></script>
