
<div class="upload_body">
<div class="jumbotron jumbotron-fluid parallax" id="upload_header">
      <!-- <a href="index.html">
          <!- <img src="img/legging.jpg" alt="logo"> -->
      <!-- </a> -->
  <div class="container">
    <h3 class="upload_display"><div id="upload_header_text">Upload an item for others to borrow!</div></h3><br>
  </div>
</div>
  <div class="container upbody">

    <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
      <div class="form-row">
        <div class="col-md-8 form-group">
          Select an image to upload:
          <input id="upload-input" type="file" name="file" class="file form-control-file" data-preview-file-type="text" accept="image/*">
        </div>
        <div class="col-md-2 form-group align-self-end">
          <input id="upload-btn" class="hidden" type="submit" value="Upload Image">
        </div>
      </div>
    </form>


    <div class="row">
    <div class="col-md-6">


      <br> <br>
      <form id="post-form" name="post" class="post" action="" method="">
        <label for="item-name">Item Name:</label>
        <input id="item-name" type="text" name="item-name" value="">

        <label for="poster-name">Poster Name:</label>
        <input id="poster-name" type="text" name="poster-name" value="">

        <label for="poster-email">Poster Email:</label>
        <input id="poster-email" type="text" name="poster-email" value="">


        <label for="description">Description: </label>
        <textarea id="description" name="description" rows="5" cols="30"> </textarea>

        <label for="location">Location: </label>
        <select id="location" class="" name="locaiton">
          <option value="SF">San Francisco</option>
          <option value="MTV">Mountain View</option>
          <option value="SJ">San Jose</option>
        </select>

        <br><br>
        <button id="submit-form" class="btn btn-primary" type="submit" name="post">Submit</button>
      </form>
      <p></p>
    </div>
  </div>
</div>
</div>

<script src="/js/upload.js"></script>
