.jumbotron, .parallax {
  background-image: url(/img/bbb.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*text-align: center;*/
  padding-top: 20px;
  font-family: 'Questrial', sans-serif;
}
.main_banner {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}
.index_body {
  background-image: url(/img/dust.png);
  margin-top: -40px;
}
.toplogo img {
	display: block;
	max-height: 80px;
	max-width: 400px;
	width: auto;
	height: auto;
  float: left;
  margin-left: 50px;
  margin-top: -10px;
  margin-right: 10px;
  opacity: .6;
}
/*.welcome_header {
  /*background-color: lightpink;*/
  /*padding: 15px 0 15px 0;*/
  /*opacity: .5;*/
/*}*/
#welcome_text {
  opacity: .8;
  margin-top: -8px;
  padding: 10px 0 15px 0;
  font-size: 38px;
  /*color: hotpink;*/
}
.explain {
  margin-top: -50px;
  color: white;
  font-weight: 100;
}
button {
  border-radius: 1.078em;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.5rem 1.1rem;
  background-color: #02B875;
  border-color: #02B875;
  opacity: .7;
}
button:hover {
  background-color: #3e8e41;
  border: #3e8e41;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.post_rbutton{
  margin-left: 35%;
  margin-top: 15px;
  float: left;
}
.see_posts_rbutton{
  margin-left: 56%;
  margin-top: 31px;
}
.items_available {
  padding-top: 30px;
}
#post_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#upload_header {
  background-image: url(/img/legging.jpg);
  min-height: 400px;
}
.upload_display {
  background-color: #B9D3EE;
  text-align: center;
  padding: 15px 0 15px 0;
  margin-top: 18%;
  margin-left: 0%;
  opacity: .95;
  border-radius: 10px;
  max-width: 500px;
}
#upload_header_text {
  opacity: 1;
}
.upload_body {
  background-image: url(/img/dust.png);
  margin-top: -30px;
}
.upbody {
  margin-left: 20%;
}
.hidden {
  display: none;
}
.success_body,
.post_detail,
.post_listing {
  background-image: url(/img/dust.png);
  /*margin-top: -30px;*/
}
#fixedbutton {
    top: 5px;
    right: 5px;
    position: fixed;
    z-index:100
}
