.jumbotron, .parallax {
  background-image: url(/img/bbb.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*text-align: center;*/
  padding-top: 20px;
}
.main_banner {
  text-align: center;
  font-family: 'Questrial', sans-serif;
}
.toplogo img {
	display: block;
	max-height: 120px;
	max-width: 400px;
	width: auto;
	height: auto;
  float: left;
  margin-left: 50px;
}
.shopmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    margin-top: 0;
    padding-top: 360px;
    margin-right: 10px;
}
.shopmenu li {
    display: inline-block;
}
